<div class="navbarr">
  <div class="container">
    <%=link_to "potepan_index_path" do %>
      <%=image_tag "logo.png", class:"navbar-brand" %>
    <% end %>     
    <div class="navbar-right">
      <ul class="navbar-right-list">
        <li><%=link_to "HOME", "potepan_path", class:"navbar-right-home" %></li>
        <li><%=link_to "SHOP", "#", class:"navbar-right-shop"%></li>
      </ul>  
    </div>
    </div>
  </div>
</div> 