<div class="topbar">
  <div class="container">
    <div class="row">
      <div class="col-md-6 hidden-sm hidden-xs topbar-box">
        <ul class="list-inline">
          <li><a href="#" class="list-inline-link"><i class="fa fa-twitter fa-lg topbar-left-awesome"></i></a></li>
          <li><a href="#" class="list-inline-link"><i class="fa fa-facebook fa-lg topbar-left-awesome"></i></a></li>
        </ul>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 topbar-box">
        <ul class="list-inline pull-right">
          <li class="dropdown searchbox">
            <a href="#" class="list-inline-link search-icon"><i class="fa fa-search fa-lg topbar-right-awesome"></i></a>
            <ul id="dropdown-menu">
              <form>
                <li>
                  <span class="input-group">
                    <input type="text" name="searchWord" class="form-control" placeholder="Search…" aria-describedby="basic-addon2">
                    <span type="submit" class="input-group-addon addPointer" id="basic-addon2">検索</span>
                  </span>
                </li>
              </form>
            </ul>  
          </li>
          <li class="dropdown shopping-icon">
            <a href="#" class="list-inline-link"><i class="fa fa-shopping-cart fa-lg topbar-right-awesome"></i></a>
          </li>        
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="header-navbar">

</div>
<script>
  $('#dropdown-menu').hide();
  $(".search-icon").click(function () {
    $("#dropdown-menu").slideToggle();
  });
</script>

