/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require plugins/jquery-ui/jquery-ui
 *= require plugins/bootstrap/css/bootstrap.min
 *= require plugins/selectbox/select_option1
 *= require plugins/rs-plugin/css/settings
 *= require plugins/owl-carousel/owl.carousel
 *= require css/style
 *= require css/colors/default
 *= require font-awesome
 *= require_self
 */

.container {
    height: 100%;
}
.row {
    height: 100%;    
}
//navbar
.navbar-default .navbar-collapse li a{
    color: #47bac1;
}
.navbar-default .navbar-collapse li.active a {
    color: #252525;
}
//products/show
.lightsection {
    background-color: #f0f0f0;
    height: 70px;
 }
.lightsection-link {
    color: #797979;
}
.lightsection-left {
    height: 100%;
    display: table;
}
.lightsection-left  h2{
    font-weight: lighter;
}
.lightsection-title {
    display: table-cell;
    vertical-align: middle;
    color: #797979;
    font-weight: lighter;
    font-size: 30px;
}
.lightsection-right {
    height: 100%;
    text-align: right;
    display: table;
}
.lightsection-box {
    display: table-cell;
    vertical-align: middle;
}
.lightsection-box {
    font-weight: 400;
    text-transform: uppercase;  
}
//product/show/main-content
.main-content {
    padding: 90px 0 60px 0;
}
.media{
    margin-bottom: 40px;
}
@media (min-width: 480px) {
  .media-left{
    width: 100%;
    padding: 0 0 20px 0;
  } 
}
@media (min-width: 768px) {
    .media-left{
      width: 100%;
      padding: 0 0 30px 0;
    } 
  }
@media (min-width: 992px) {
  .media-left{
    width: 489px;
    padding: 0 30px 0 0;
  } 
}
.thumb {
    width: 23.3%;
    cursor: pointer;
    float: left;
}
.thumb:hover {
    opacity: .8;
}
@media (max-width: 479px) {
  .thumb {
    margin-right: 2.1%;
  }
}
@media (min-width: 480px) {
  .thumb {
    margin-right: 2.1%;
  }
}
@media (min-width: 768px) {
  .thumb {
    margin-right: 2.1%;
  }
}
@media (min-width: 992px) {
  .thumb {
    margin-right: 10px;
  }
}
.media-body .list-inline {
    margin-bottom: 30px;
}
.media-body .list-inline a {
    color: #b4b4b4;
}
.media-body h2 {
    font-weight: 700;
    margin-bottom: 5px;
    letter-spacing: 1px;
}
.media-body h3 {
    font-weight: 700;
    margin-bottom: 26px;
    letter-spacing: 1px;
}
.media-body p {
    line-height: 24px;
    color: #797979;
    margin-bottom: 37px;
}
.quick-drop {
    margin: 0 12px 38px 0;
    display: inline-block;
}
.btn-area {
    margin-bottom: 40px;
}
.btn-primary {
    background-color: #47bac1;
    border-color: #47bac1;
    color: #fff;
}
.btn-area .btn-primary {
    width: 196px;
    height: 55px;
    border-radius: 0;
    padding: 0 20px;
    line-height: 55px;
    text-align: left;
    position: relative;
}
.fa-angle-right {
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 22px;
}
//product/show/product-content
.product-image{
    margin-bottom: 20px;
}
@media (min-width: 768px) {
  .product-image img{
    width: auto;
    height: 130px;
  }
}
@media (min-width: 992px) {
  .product-image img{
    width: auto;
    height: 150px;
  }
}
.product-caption h5 {
    margin-bottom: 25px;    
}
.product-caption h3 {
    color: #c5c5c5;
    font-family: Oxygen; 
    font-weight: bold; 
}

  